<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of broths</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'Select your broth and click next'">List of broths</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Type</th>
            <th style="width: 150px;">Price</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="broth : ${broths}">
        <td th:text="${broth.type}">Chicken</td>
        <td th:text="${broth.price}">2</td>
    </tr>
    </tbody>
</table>
<button onClick="location.href='../meatnomeat/displaymeat'">Next</button>

</body>
</html>