<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of meat no meat</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'Select your meat and click next'">List of meat no meat</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 150px;">Price</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="meat : ${meats}">
        <td th:text="${meat.name}">pork</td>
        <td th:text="${meat.price}">2</td>
    </tr>
    </tbody>
</table>
<button onClick="location.href='../noodles/findall'">Next</button>

</body>
</html>