<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of toppings</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'List of toppings'">List of toppings</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">Name</th>
            <th style="width: 150px;">Quantity</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="topping : ${toppings}">
        <td th:text="${topping.id}">1</td>
        <td th:text="${topping.name}">egg</td>
        <td th:text="${topping.quantity}">2</td>
    </tr>
    </tbody>
</table>
<button onClick="location.href='../ramen/findall'">Finish</button>
<button onClick="location.href='../broth/findall'">Add another ramen</button>

</body>
</html>