<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of vegetables</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'Select your vegetables and click next'">List of vegetables</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">Name</th>
            <th style="width: 150px;">Quantity</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="vegetable : ${vegetables}">
        <td th:text="${vegetable.id}">1</td>
        <td th:text="${vegetable.name}">egg</td>
        <td th:text="${vegetable.quantity}">2</td>
    </tr>
    </tbody>
</table>
<button onClick="location.href='../topping/findall'">Next</button>

</body>
</html>