<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of noodles</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'List of noodles'">List of noodles</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">Name</th>
            <th style="width: 150px;">Quantity</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="noodle : ${noodles}">
        <td th:text="${noodle.id}">1</td>
        <td th:text="${noodle.name}">egg</td>
        <td th:text="${noodle.quantity}">2</td>
    </tr>
    </tbody>
</table>

</body>
</html>