<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>List of Ramen</title>
</head>
<body>
<!--/*@thymesVar id="id" type="com.abbeloosindustries.ramen.model.Broth"*/-->
<h2 th:text="'Your order'">List of ramen</h2>

<table class="table table-striped">
    <thread>
        <tr>
            <th style="width: 150px;">Name</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="ordered : ${order}">
        <td th:text="${ordered.name}">Order</td>
    </tbody>

    <h3 th:text="'Review order'">List of ramen</h3>
    <thread>
        <tr>
            <th style="width: 150px;">Broth</th>
            <th style="width: 150px;">Meat</th>
            <th style="width: 150px;">Vegetable</th>
            <th style="width: 150px;">Topping</th>
        </tr>
    </thread>
    <tbody>
    <tr style="width: 150px;" th:each="ramen : ${allRamen}">
        <td th:text="${ramen.broth.type}">chicken broth</td>
    </tr>
    </tbody>
</table>
<button>Pay</button>
</body>
</html>